{% load badminton_filters %}

<!DOCTYPE html>
<html>
    <head>
        {% include_fragment 'head.html' %}

        <title>Badminton For Fun - Election</title>
        <meta name="author" content="Bhuvan Venkatesh">
        <meta name="description" content="Badminton for fun election page.">
    </head>
    <body>

    <div class="grid row row-offset-1">
        <div class="col-offset-1 col-11">

        <div class="grid row col-offset-1">
            <h1>Election Page</h1>
        </div>

        <election-view>
        </election-view>
    </div>
</div>

        {% resolve_global 'react' %}
        {% resolve_global 'react-dom' %}
        {% resolve_global 'google-platform' %}

        {% resolve_js_local 'election.js' %}

        {% include_fragment 'foot.html' %}
    </body>
</html>