{% load badminton_filters %}

<!DOCTYPE html>
<html>
    <head>
        {% include_fragment 'head.html' %}

        <title>Badminton For Fun - Election</title>
        <meta name="author" content="Bhuvan Venkatesh">
        <meta name="description" content="Badminton for fun election page.">
    </head>
    <body>

    {% include_fragment 'nav.html' %}

    <div class="grid row row-offset-1">
        <div class="col-offset-2 col-8">
            <div class="grid">
                <div class="row">
                    <div class="col-4 row-offset-1 badminton-landing-text"> Election </div>
                </div>

        <div class="row row-offset-1">
            <election-view>
            </election-view>
        </div>
    </div>
</div>
</div>

        {% resolve_global 'react' %}
        {% resolve_global 'react-dom' %}

        {% resolve_js_local 'election.js' %}

        {% include_fragment 'foot.html' %}
    </body>
</html>