{% load badminton_filters %}

<!DOCTYPE html>
<html>
    <head>
        {% include_fragment 'head.html' %}

        <title>Badminton For Fun - Home Page</title>
        <meta name="author" content="Bhuvan Venkatesh">
        <meta name="description" content="Badminton for fun home page.">
    </head>
    <body>
    {% include_fragment 'nav.html' %}
    <div class="grid row row-offset-1">
        <div class="col-offset-2 col-8 col-es-12">
            <div class="grid">
                <div class="row">
                    <div class="col-4 badminton-landing-text"> Home </div>
                </div>

                <div class="row row-offset-1">
                    <home-view></home-view>
                </div>
            </div>
            
        </div>
    </div>

        {% resolve_global 'react' %}
        {% resolve_global 'react-dom' %}

        {% resolve_js_local 'home.js' %}

        {% include_fragment 'foot.html' %}
    </body>
</html>