$popup-height: 400px;
$popup-width: 400px;

@mixin fade-in-mixin($to-opacity) {
  0% {opacity: 0;}
  100% {opacity: #{$to-opacity};}
}

@mixin fade-out-mixin($to-opacity) {
  0% {opacity: #{$to-opacity};}
  100% {opacity: 0;}
}

$full-opacity: 1;
$half-opacity: .5;

@keyframes fade-in {
  @include fade-in-mixin($full-opacity);
}

@keyframes fade-out {
  @include fade-out-mixin($full-opacity);
}

@keyframes fade-in-half {
  @include fade-in-mixin($half-opacity);
}

@keyframes fade-out-half {
  @include fade-out-mixin($half-opacity);
}



$fade-in-duration: .4s;
$fade-out-duration: .4s;
.popup-div {
	top: calc((100vh - #{$popup-height}) / 2);
  left: calc((100vw - #{$popup-width}) / 2);
	height: #{$popup-height};
	width: #{$popup-width};
	position: fixed;
	z-index: 100;
	background-color: #a4a3a3;
  border-radius: 4px;
  animation-name: fade-in;
  animation-duration: #{$fade-in-duration};
}

.popup-screen {
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: .5;
  background-color:gray;
  animation-name: fade-in-half;
  animation-duration: #{$fade-in-duration};
}

.popup-fade {
  animation-name: fade-out;
  animation-duration: #{$fade-out-duration};
  opacity: 0;
}

.popup-screen-fade {
  animation-name: fade-out-half;
  animation-duration: #{$fade-out-duration};
  opacity: 0;
}

@media only screen and (max-width: 430px) {

  $sm-popup-height: 300px;
  $sm-popup-width: 300px;

  .popup-div {
    top: calc((100vh - #{$sm-popup-height}) / 2);
    left: calc((100vw - #{$sm-popup-width}) / 2);
    height: #{$sm-popup-height};
    width: #{$sm-popup-width};
  }

}

.popup-title-div {
  background-color: #5c5c5c;
  width: 100%;
  border-radius: 4px;
}

.popup-title {
  font-size: 4vh;
  color:white;
}

.popup-message {
  color:white;
}

.popup-button {
  width: 100%;
  border: none;
}

.popup-disabled {
  overflow: hidden;
}

