/* Works like the <option/> tag */
$select-background: #f1f1f1;
$select-hover:#a4a3a3;
.select-label {
  background: #{$select-background};
  color: black;
  display: block;
  padding: 0.5em;
  cursor: pointer;
}

.select-toggle {
  border-radius: 4px;
}
/* Works like the <select/> tag */
.select {
  opacity: 1;
}

.select-hidden {
  opacity:0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.select-arrow {
  border-left: .3em solid transparent;
  border-right: .3em solid transparent;
  border-top: .6em solid black;
  display: inline-block;
  line-height: 0;
  right: 20px;
  position: absolute;
  top: 12px;
}

.select-div {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.inner-select-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: auto;
}

.select-wrapper-div {
  position:relative;
}

/* Checked properties */

.select-check-toggle:checked ~ .select-toggle {
  margin-bottom: auto;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.select-check-toggle:checked ~ .select-toggle >  .select-arrow {
  right: 20px;
}

.select-check-toggle:checked ~ .select-div {
  display: auto;
  margin-bottom: -80px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 80px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select-check-toggle:checked ~ .select-div {
  display: auto;
  margin-bottom: -80px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 80px;
}

@keyframes hover-fade {
    from {background-color: #{$select-background};}
    to {background-color: #{$select-hover};}
}

.select-check-toggle:checked ~ .select-div label:hover {
  background-color: #{$select-hover};
  animation-name: hover-fade;
  animation-duration: .3s;
}