@import "./variable";

html {
  // You'd be surprised that we need this
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  // Reset sizing after elements
  box-sizing: inherit;
}

$font: "Verdana", sans-serif;

body {
	font-family: #{$font};
  // Give a base to which one anchors the <nav>
	position: absolute;
	margin: 0;
  // Bit of padding to avoid a sticky bottom
	padding-bottom: 6rem;
  // 20 px because browsers are dishonest with 100%
	min-height: calc(100% + #{$nav-height} + #{$footer-height} + 20px);
  // You'd be surprised
  width: 100%;
}

p {
  // Don't stick them too close
	line-height: 1.15;
	text-align: auto;
  font-size: 16px;
}

.badminton-landing-icon {
	font-size: 15vw;
}

.badminton-landing-text {
	font-size: calc(30px + 1.5vw);; 
	font-weight: 10em; 
	padding-left:40px;
}


// General Styling

tbody > tr:nth-child(odd) {
  background-color: #CCC;
  background: #CCC;
}

@mixin box-input {
  border: none;
  width: 100%;
  border-radius: 4px;
  background-color: #f1f1f1;
  padding-left: 10px;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 10px 10px 5px grey;
}

.login-button {
  background-color: rgba(0, 0, 0, .35);
}

select {
  @include box-input;

  &:focus {
    outline: none;
    color: inherit;
  }

  &:active {
    outline: none;
    color: inherit;
  }
}

input[type="text"] {
  @include box-input;
}

textarea {
  @include box-input;
  resize:none;
  overflow:auto;
  height: 320px;
  font-family: #{$font}
}

button {
  @include box-input;
  transition: all .2s ease-in;
  &:hover {
    background-color: rgba(0, 0, 0, 0.55);
  }
}

// Home page stuff

.stats-table {
  border-spacing: 0px;
  width: 100%;
}

.stats-table > thead {
  border-bottom: 2px solid black;
}


// Profile page stuff

.profile-picture {
  width: 80%;
  height: 80%;
}

// Interested page stuff

.interested-label {
  border: none;
  font-size: 5vh;
  text-align:center;
  vertical-align:middle; 
  display:table-cell;
}


.interested-submit {
  border:none;
  border-radius: 4px;
  width: 100%;
  font-size: 7vh;
}

.election-label-div {
  display: flex;
}

.election-label {
  margin:auto 0;
}

@keyframes height-auto-open {
  0% {max-height: 0px;}
  100% {max-height: 999px;}
}

@keyframes height-auto-close {
  0% {max-height: 999px;}
  100% {max-height: 0px;}
}

@mixin height-auto-mixin {
  overflow: hidden;
}

.register-div {
  @include height-auto-mixin;
  animation-name: height-auto-open;
  animation-duration: .4s;
}

.register-div-close {
  @include height-auto-mixin;
  animation-name: height-auto-close;
  animation-duration: .4s;
}

// member page stuff

.member-list {
  list-style-type: none;
}

.member-list ~ a {
  text-decoration: None;
}

// tournament page

.tournament-div {
  overflow: auto;
  padding-top:30px;
}

// mail

.inherit-input {
  height: 100%;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  animation: none !important;
  animation-play-state: paused !important;
  animation-duration: 0 !important;
  animation-delay: -99s !important;
}

.editable-textarea-div {
  position: relative;
}

.editable-textarea-frozen {
  background-color: inherit;
  box-shadow: none;
}

.editable-textarea-edit-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 100px;
  box-shadow: 2px 2px 2px 2px gray;
}

