@import "./variable";
@import "../../node_modules/react-big-calendar/lib/css/react-big-calendar";
@import '../../node_modules/react-datepicker/dist/react-datepicker.css';

html {
  // You'd be surprised that we need this
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  // Reset sizing after elements
  box-sizing: inherit;
}

$font: "Verdana", sans-serif;

body {
	font-family: #{$font};
  // Give a base to which one anchors the <nav>
	position: absolute;
	margin: 0;
  // Bit of padding to avoid a sticky bottom
	padding-bottom: 6rem;
  // 20 px because browsers are dishonest with 100%
	min-height: calc(100% + #{$nav-height} + #{$footer-height} + 20px);
  // You'd be surprised
  width: 100%;
}

p {
  // Don't stick them too close
	line-height: 1.15;
	text-align: auto;
  font-size: 16px;
}

.badminton-landing-icon {
	font-size: 15vw;
}

.badminton-landing-text {
	font-size: calc(30px + 1.5vw);; 
	font-weight: 10em; 
	padding-left:40px;
}


// General Styling

tbody > tr:nth-child(odd) {
  background-color: #CCC;
  background: #CCC;
}

.login-button {
  background-color: rgba(0, 0, 0, .35);
}

.interaction-style {
  @include box-input;
}

button.interaction-style {
    transition: all .2s ease-in;
    &:hover {
      background-color: rgba(0, 0, 0, 0.55);
    }
}

select.interaction-style {
    &:focus {
      outline: none;
      color: inherit;
    }

    &:active {
      outline: none;
      color: inherit;
    }
  }

textarea.interaction-style {
  resize: none;
    overflow:auto;
    height: 100%;
    font-family: #{$font}
}

/*
input[type="text"] {
  @include box-input;
} */

// Home page stuff

.stats-table {
  border-spacing: 0px;
  width: 100%;
}

.stats-table > thead {
  border-bottom: 2px solid black;
}


// Profile page stuff

.profile-picture {
  width: 80%;
  height: 80%;
}

// Interested page stuff

.interested-label {
  border: none;
  font-size: 5vh;
  text-align:center;
  vertical-align:middle; 
  display:table-cell;
}


.interested-submit {
  border:none;
  border-radius: 4px;
  width: 100%;
  font-size: 7vh;
}

.election-label-div {
  display: flex;
}

.election-label {
  margin:auto 0;
}

@keyframes height-auto-open {
  0% {max-height: 0px;}
  100% {max-height: 999px;}
}

@keyframes height-auto-close {
  0% {max-height: 999px;}
  100% {max-height: 0px;}
}

@mixin height-auto-mixin {
  overflow: hidden;
}

.register-div {
  overflow: visible;
  animation-name: height-auto-open;
  animation-duration: .4s;
}

.register-div-close {
  @include height-auto-mixin;
  animation-name: height-auto-close;
  animation-duration: .4s;
}

// member page stuff

.member-list {
  list-style-type: none;
}

.member-list ~ a {
  text-decoration: None;
}

// tournament page

.tournament-div {
  overflow: auto;
  padding-top:30px;
}

// mail

.inherit-input {
  height: 100%;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  animation: none !important;
  animation-play-state: paused !important;
  animation-duration: 0 !important;
  animation-delay: -99s !important;
}

.editable-textarea {
  height: 1px;
}

.editable-textarea-div {
  position: relative;
}

.editable-textarea-frozen {
  background-color: inherit;
  box-shadow: none;
  height: auto;
}

.editable-textarea-edit-button {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: auto;
  box-shadow: 2px 2px 2px 2px gray;
}

.editable-textarea-delete-button {
  position: absolute;
  top: 5px;
  right: 50px;
  display: inline-block;
  width: auto;
  box-shadow: 2px 2px 2px 2px gray;
}

.rbc-month-row { 
  overflow: visible;
  padding-top: 5px;
  padding-bottom: 20px;
}
.court-style {
  height: 200px;
  background-color: #db950a;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
}

.court-style:after {
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #000000;
    transform: translate(-50%);
}

.queue-party-div {
  background-color: gray;
  corner-radius: 5px;
  margin-bottom: 10px;
}