{% load badminton_filters %}

<!-- Notes
election
	* Needs a way to determine if already voted
interested
    * Style
member-stats -->
<div class="nav-div">
<nav>
	<ul class="nav-list">
		<li class="nav-link"> <a href="./home.html">Home</a> </li>
		<li class="nav-link"> <a href="./election.html">Election</a> </li>
		<li class="nav-link"> <a href="./members.html">Members </a> </li>
		<li class="nav-link"> <a href="./queue.html">Queue </a> </li>
		<li class="nav-link"> <a href="./ranking.html">Ranking </a> </li>
		<li class="nav-link"> <a href="./tournament.html">Tournament </a> </li>
		<li class="nav-link"> <a href="./settings.html">Settings </a> </li>
	</ul>
</nav>
</div>