html {
  // You'd be surprised that we need this
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  // Reset sizing after elements
  box-sizing: inherit;
}

$nav-height: 30px;
$footer-height: 30px;
$font: "Verdana", sans-serif;

body {
	font-family: #{$font};
  // Give a base to which one anchors the <nav>
	position: absolute;
	margin: 0;
  // Bit of padding to avoid a sticky bottom
	padding-bottom: 6rem;
  // 20 px because browsers are dishonest with 100%
	min-height: calc(100% + #{$nav-height} + #{$footer-height} + 20px);
  // You'd be surprised
  width: 100%;
}

p {
  // Don't stick them too close
	line-height: 1.15;
	text-align: auto;
  font-size: 16px;
}

.badminton-landing-icon {
	font-size: 15vw;
}

.badminton-landing-text {
	font-size: calc(30px + 1.5vw);; 
	font-weight: 10em; 
	padding-left:40px;
}

// Footer Styling

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  padding-bottom: calc(#{$footer-height} / 2);
  padding-top: calc(#{$footer-height} / 2);
  background-color: black;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  text-algin: center;
  color: white;
}

.footer-link {
  color: white;
}

// Navbar styling

nav {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  height: #{$nav-height};
}

.nav-list {
  list-style-type: none;
}

.nav-list > .nav-link {
  float: left;
  margin-left: 20px;
}

.nav-link > a {
  text-decoration: none;
  color: white;
}
.nav-div {
  top: 0px;
  background-color: black;
  padding-top: 5px;
  padding-bottom:0px;
}

.hamburger {
  display: none;
  font-size: 24px;
}

@media only screen and (max-width: 700px) {
  .nav-link {
    height: 0px;
    padding-top: 5px;
  }

  .nav-link > a {
    opacity: 0;
    pointer-events: none;
  }

  .nav-link.hamburger {
    display: inherit;
  }

  .hamburger > a {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-list {
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 20px;
  }

  .nav-list > .nav-link {
    float: none;
    margin-left: 0px;
  }

  nav {
    height: auto;
    z-index: 101;
  }

  nav.responsive .nav-link {
    height: auto;

    & > a {
      opacity: 1;
      pointer-events: auto;
    }
  }

  nav.responsive {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
  }
}

// General Styling

tbody > tr:nth-child(odd) {
  background-color: #CCC;
  background: #CCC;
}

@mixin box-input {
  border: none;
  width: 80%;
  border-radius: 4px;
  background-color: #f1f1f1;
  padding-left: 10px;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.login-button {
  background-color: rgba(0, 0, 0, .35);
}

select {
  @include box-input;

  &:focus {
    outline: none;
    color: inherit;
  }

  &:active {
    outline: none;
    color: inherit;
  }
}

input[type="text"] {
  @include box-input;
}

textarea {
  @include box-input;
  resize:none;
  overflow:auto;
  height: 320px;
  font-family: #{$font}
}

button {
  @include box-input;
  transition: all .2s ease-in;
  &:hover {
    background-color: rgba(0, 0, 0, 0.55);
  }
}

// Home page stuff

.stats-table {
  border-spacing: 0px;
  width: 100%;
}

.stats-table > thead {
  border-bottom: 2px solid black;
}


// Profile page stuff

.profile-picture {
  width: 80%;
  height: 80%;
}

// Interested page stuff

.interested-label {
  border: none;
  font-size: 5vh;
  text-align:center;
  vertical-align:middle; 
  display:table-cell;
}


.interested-submit {
  border:none;
  border-radius: 4px;
  width: 100%;
  font-size: 7vh;
}

.election-label-div {
  display: flex;
}

.election-label {
  margin:auto 0;
}

// member page stuff

.member-list {
  list-style-type: none;
}

.member-list ~ a {
  text-decoration: None;
}

// tournament page

.tournament-card {
  width: 15vw;
  height: 15vw;
  margin: 0 auto;
  text-align: center;
  background-color: gray;
}

.tournament-row {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
  width: 50%;
}

// mail

.inherit-input {
  height: 100%;
}