html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$nav-height: 30px;
$footer-height: 30px;

body {
	font-family: Georgia, serif;
	position: absolute;
	margin: 0;
	padding-bottom: 6rem;
  // 20 px because browsers are dishonest with 100%
	min-height: calc(100% + #{$nav-height} + #{$footer-height} + 20px);
  width: 100%;
  top:-20px;
}

p {
	line-height: 1.15;
	text-align: auto;
}

$big-fade: 1s;

.big-button {
	width: 100%;
	height: 100%;
	font-size: 30px;
	outline: 0;
	border-radius: 4px;
	text-align: center;
}

.faded {
	-webkit-animation: fadein #{$big-fade}; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein #{$big-fade}; /* Firefox < 16 */
        -ms-animation: fadein #{$big-fade}; /* Internet Explorer */
         -o-animation: fadein #{$big-fade}; /* Opera < 12.1 */
            animation: fadein #{$big-fade};
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.badminton-landing-icon {
	font-size: 15vw;
}

.badminton-landing-text {
	font-size: 5vw; 
	font-weight: 10em; 
	padding-left:40px;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

$popup-height: 400px;
$popup-width: 400px;

.popup-div {
	top: calc((100vh - #{$popup-height}) / 2);
  left: calc((100vw - #{$popup-width}) / 2);
	height: #{$popup-height};
	width: #{$popup-width};
	position: fixed;
	z-index: 100;
	background-color: white;
  border: 4px solid gray;
  border-radius: 4px;
}

.popup-title {
  font-size: 4vh;
}

.popup-message {

}

.popup-button {
  width: 100%;
  border: none;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  padding-bottom: calc(#{$footer-height} / 2);
  padding-top: calc(#{$footer-height} / 2);
  background-color: black;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  text-algin: center;
  color: white;
}

nav {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  height: #{$nav-height};
}

.nav-list {
  list-style-type: none;
}

.nav-list > .nav-link {
  float: left;
  margin-left: 20px;
}

.nav-link > a {
  text-decoration: none;
  color: white;
}
.nav-div {
  top: 0px;
  background-color: black;
  padding-top: 20px;
  padding-bottom:0px;
}

// Member page stuff


// Profile page stuff

.profile-picture {
  width: 80%;
  height: 80%;
}

// Interested page stuff

.interested-label {
  border: none;
  font-size: 5vh;
  text-align:center;
  vertical-align:middle; 
  display:table-cell;
}

.interested-short-field {
  border: none;
  width: 80%;
  border-radius: 4px;
  background-color: #f1f1f1;
  padding-left: 10px;
}

.interested-submit {
  border:none;
  border-radius: 4px;
  width: 100%;
  font-size: 7vh;
}
