$pad: 15px;
$grid-columns: 12;
$col-slug: ".col";

$response-booster: (
  /* Pixels, column mult, padding mult */
    extra-small: (319px, 2.0, 0.3),
    small: (479px, 1.8, 0.6),
    small-medium: (719px, 1.6, 1.0),
    medium: (1023px, 1.4, 1.0),
    normal: (1199px, 1.0, 1.0),
    large: (1599px, 1.0, 1.0)
);

.grid{
    width: 100%;    
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

@function calculating-padding($value){
  $padding-multiplier: nth($value, 3);
  @return $pad * $padding-multiplier;
}

@function calculate-adjusted-percentage($value, $i) {
  $width-percent: percentage($i/$grid-columns);
  $column-multiplier: nth($value, 2);
  $adjusted: min($width-percent * $column-multiplier, 100%);
  @return $adjusted;
}

@each $name, $value in $response-booster {
  $adjusted-padding: calculating-padding($value);

  @media only screen and (min-width: #{nth($value, 1)})  {
    @for $i from 1 through $grid-columns {
      $adjusted-percentage: calculate-adjusted-percentage($value, $i);
      #{$col-slug}-#{$i} {
        width: calc( #{$adjusted-percentage} - #{$adjusted-padding} * 2);
      }
    }
    [class*='col-'] {
      float: left; 
      min-height: 1px; 
      /*-- our gutter -- */
      padding: 0 #{$adjusted-padding} 0 #{$adjusted-padding}; 
    }
  }
}